<h1>Hola Mundo soy una pagina porque tengo un nombre de url</h1>

<button @onclick="IncrementCount">clickeame</button>

<p>@currentCount</p>



@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }



}
